<html>
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  </head>
  <body>
    <p>Ask your coach anything</p>
    <form action="/ask" data-turbo="false">
      <input type="text" name="answer">
      <input type="submit" value="Ask!">
    </form>
  </body>
</html>
